<body>
    <div class="content">
        <div class = "title">
            <h1>WANTED: {{ name() }}</h1>
            <h2>${{ bounty() }} Bounty</h2>
        </div>
        
        <div class="info">
            <div class = "details">
                <ol>bites your ankles</ol>
                <ol>commits crimes</ol>
                <ol>will eat your food</ol>
            </div>
        </div>

        <img src = "pigeon.jpeg">

        <div class = "bio">
            <p>Pidgey is rapidly approaching your location</p>
        </div>

        <button (click) = "getRandomMood()">Get Mood</button>
        <h3>He is feeling {{currentMood()}}</h3>
      </div>
</body>